<h1>This is my first component</h1>
<nav class="main-nav">
  <ul class="nav nav-pills">
    <li [class.active]="viewMode === 'home'"><a (click)="viewMode = 'home'">Home</a></li>
    <li [class.active]="viewMode === 'about'"><a (click)="viewMode = 'about'">About</a></li>
    <li [class.active]="viewMode === 'services'"><a (click)="viewMode = 'services'">Services</a></li>
    <li [class.active]="viewMode === 'contact'"><a (click)="viewMode = 'contact'">Contact</a></li>
  </ul>
</nav>

<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'"> <app-posts></app-posts> </div>
  <div *ngSwitchCase="'about'"> <app-authors></app-authors> </div>
  <div *ngSwitchCase="'services'"> <courses></courses> </div>
  <div *ngSwitchCase="'contact'"> <app-course></app-course> </div>
  <div *ngSwitchDefault> <app-favorite [pink]="post.pink" (change)="pinkChanged"></app-favorite> </div>
</div>
