<div class="container">
    <h2>Signup Form</h2>
    <form [formGroup]="form"  (ngSubmit)="submitForm()">
      <input
      formControlName="name"
           type="text"
           id="name" 
           placeholder="Name" 
           required>

      <input 
      formControlName="email"
      type="email" 
      id="email" 
      placeholder="Email" 
      required>

      <input 
      formControlName="password"
      type="password" 
      id="password" 
      placeholder="Password" 
      required>

      <button type="submit">Signup</button>
    </form>
  </div>